<div class="grid-container">
  <div class="box1">
    <figure>
      <img src="https://picsum.photos/1000/600/?image=668">
      <div class="img-desc-box">
        <span class="img-cat">
          FINANCE
        </span>
        <p class="img-title">THIS TIE BRAND IS BUCKING THE RETAIL APOCALYPSE WITH A MASSIVE STORE EXPANSION
        </p>
        <p class="img-desc">There is a lot of exciting stuff going on in the stars above us that makes astronomy so much
          fun. The truth is the universe is a constantly changing, moving.</p>
      </div>
      <div class="img-stats-box">
        <mat-list>
          <mat-list-item>
            <mat-icon>forward</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>visibility</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>chat_outline_bubble</mat-icon>
            <span>234</span>
          </mat-list-item>
        </mat-list>
      </div>
    </figure>
  </div>
  <div class="box2">
    <div class="grid-container featured-story-container">
      <figure class="small">
        <img src="https://picsum.photos/320/270/?image=668">
        <div class="img-desc-box">
    <span class="img-cat">
    FINANCE
    </span>
          <p class="img-title">Box 2 Unmatched Toner Cartridge Quality: 20% Less Than OEM Price</p>
        </div>
        <div class="img-stats-box">
          <mat-list>
            <mat-list-item>
              <mat-icon>forward</mat-icon>
              <span>234</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>visibility</mat-icon>
              <span>234</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chat_outline_bubble</mat-icon>
              <span>234</span>
            </mat-list-item>
          </mat-list>
        </div>
      </figure>
      <div class="featured-story">
        <h2>
          THIS TIE BRAND IS BUCKING THE RETAIL APOCALYPSE WITH A MASSIVE STORE EXPANSION
        </h2>
        <p>
          The universe is constantly changing, moving. Some would say it’s a “living” thing because you never know what
          you are going to see on any given night.
        </p>
        <p>
          The universe is constantly changing, moving. Some would say it’s a “living” thing because you never know what
          you are going to see on any given night.
        </p>
        <button mat-stroked-button color="warn">Read me</button>
      </div>
    </div>
  </div>
  <div class="box3">
    <h3>
      FEATURED STORIES
    </h3>
    <mat-list>
      <mat-list-item *ngFor="let post of posts">{{post.title}}</mat-list-item>
    </mat-list>
    <a mat-icon-button color="primary" (click)="list(getPreviousPage(), 10)">
      <mat-icon>arrow_left</mat-icon>
    </a>
    <small>Page {{this.page}}</small>
    <a mat-icon-button color="primary" (click)="list(getNextPage(), 10)">
      <mat-icon>arrow_right</mat-icon>
    </a>

  </div>
  <div class="box4">
    <figure class="small">
      <img src="https://picsum.photos/320/270/?image=668">
      <div class="img-desc-box">
    <span class="img-cat">
    FINANCE
    </span>
        <p class="img-title">Unmatched Toner Cartridge Quality: 20% Less Than OEM Price</p>
      </div>
      <div class="img-stats-box">
        <mat-list>
          <mat-list-item>
            <mat-icon>forward</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>visibility</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>chat_outline_bubble</mat-icon>
            <span>234</span>
          </mat-list-item>
        </mat-list>
      </div>
    </figure>
  </div>
  <div class="box5">
    <figure class="small">
      <img src="https://picsum.photos/320/270/?image=668">
      <div class="img-desc-box">
    <span class="img-cat">
    FINANCE
    </span>
        <p class="img-title">Unmatched Toner Cartridge Quality: 20% Less Than OEM Price</p>
      </div>
      <div class="img-stats-box">
        <mat-list>
          <mat-list-item>
            <mat-icon>forward</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>visibility</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>chat_outline_bubble</mat-icon>
            <span>234</span>
          </mat-list-item>
        </mat-list>
      </div>
    </figure>
  </div>
  <div class="box6">
    <figure class="small">
      <img src="https://picsum.photos/320/270/?image=668">
      <div class="img-desc-box">
    <span class="img-cat">
    FINANCE
    </span>
        <p class="img-title">Unmatched Toner Cartridge Quality: 20% Less Than OEM Price</p>
      </div>
      <div class="img-stats-box">
        <mat-list>
          <mat-list-item>
            <mat-icon>forward</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>visibility</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>chat_outline_bubble</mat-icon>
            <span>234</span>
          </mat-list-item>
        </mat-list>
      </div>
    </figure>
  </div>
  <div class="box7">
    <figure class="small">
      <img src="https://picsum.photos/320/270/?image=668">
      <div class="img-desc-box">
    <span class="img-cat">
    FINANCE
    </span>
        <p class="img-title">Unmatched Toner Cartridge Quality: 20% Less Than OEM Price</p>
      </div>
      <div class="img-stats-box">
        <mat-list>
          <mat-list-item>
            <mat-icon>forward</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>visibility</mat-icon>
            <span>234</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>chat_outline_bubble</mat-icon>
            <span>234</span>
          </mat-list-item>
        </mat-list>
      </div>
    </figure>
  </div>
</div>


<!--<div fxLayout='row wrap'>-->
<!--<div fxFlex="100" fxFlex.gt-sm="75">-->
<!--<figure>-->
<!--<img src="https://picsum.photos/1000/600/?image=668">-->
<!--<div class="img-desc-box">-->
<!--<span class="img-cat">-->
<!--FINANCE-->
<!--</span>-->
<!--<p class="img-title">THIS TIE BRAND IS BUCKING THE RETAIL APOCALYPSE WITH A MASSIVE STORE EXPANSION-->
<!--</p>-->
<!--<p class="img-desc">There is a lot of exciting stuff going on in the stars above us that makes astronomy so much-->
<!--fun. The truth is the universe is a constantly changing, moving.</p>-->
<!--</div>-->
<!--<div class="img-stats-box">-->
<!--<mat-list>-->
<!--<mat-list-item>-->
<!--<mat-icon>forward</mat-icon>-->
<!--<span>234</span>-->
<!--</mat-list-item>-->
<!--<mat-list-item>-->
<!--<mat-icon>visibility</mat-icon>-->
<!--<span>234</span>-->
<!--</mat-list-item>-->
<!--<mat-list-item>-->
<!--<mat-icon>chat_outline_bubble</mat-icon>-->
<!--<span>234</span>-->
<!--</mat-list-item>-->
<!--</mat-list>-->
<!--</div>-->
<!--</figure>-->
<!--</div>-->
<!--<div fxFlex="100" fxFlex.gt-sm="25">-->
<!--<div fxLayout="column">-->
<!--<figure class="small">-->
<!--<img src="https://picsum.photos/320/270/?image=668">-->
<!--<div class="img-desc-box">-->
<!--<span class="img-cat">-->
<!--FINANCE-->
<!--</span>-->
<!--<p class="img-title">Unmatched Toner Cartridge Quality: 20% Less Than OEM Price</p>-->
<!--</div>-->
<!--<div class="img-stats-box">-->
<!--<mat-list>-->
<!--<mat-list-item>-->
<!--<mat-icon>forward</mat-icon>-->
<!--<span>234</span>-->
<!--</mat-list-item>-->
<!--<mat-list-item>-->
<!--<mat-icon>visibility</mat-icon>-->
<!--<span>234</span>-->
<!--</mat-list-item>-->
<!--<mat-list-item>-->
<!--<mat-icon>chat_outline_bubble</mat-icon>-->
<!--<span>234</span>-->
<!--</mat-list-item>-->
<!--</mat-list>-->
<!--</div>-->
<!--</figure>-->
<!--<div class="featured-story">-->
<!--<h2>-->
<!--THIS TIE BRAND IS BUCKING THE RETAIL APOCALYPSE WITH A MASSIVE STORE EXPANSION-->
<!--</h2>-->
<!--<p>-->
<!--The universe is constantly changing, moving. Some would say it’s a “living” thing because you never know what you are going to see on any given night.-->
<!--</p>-->
<!--<p>-->
<!--The universe is constantly changing, moving. Some would say it’s a “living” thing because you never know what you are going to see on any given night.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--<button mat-raised-button color="accent">Accent</button>-->

<!--<mat-list>-->
<!--<mat-list-item> Pepper</mat-list-item>-->
<!--<mat-list-item> Salt</mat-list-item>-->
<!--<mat-list-item> Paprika</mat-list-item>-->
<!--</mat-list>-->
