.grid-container {
  margin: 2em 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 600px;
  grid-gap: 1em;
  .mat-card-image {
    height: 300px;
    object-fit: cover;
  }
}

.body-breaker {
  margin: 1em 0 2em;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin: 2em 8em 0;
  .search-input{
    margin-right: 1em;
  }
}

mat-card-actions{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .grid-container {
    margin: 2em;
    grid-template-columns: 1fr;
  }
  .search-container {
    margin: 2em 0 48px;
  }
}
